* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
}

.navbar {
    background-color: white;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: 1rem;
}

.navbar ul li {
    margin-right: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

.center {
    display: flex;
    justify-content: center;
}

.content-table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    margin-top: 2rem;
    background-color: #333;
}

.content-table th,
.content-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: white;
}

.button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#reset {
    padding: 0.5rem 1rem;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
